.purple-capture {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.purple-capture__separator {
  border-top: 1px solid;
  clear: both;
  display: inline-block;
  position: relative;
  border-color: rgb(245 92 239);
  width: 100px;
}

.purple-capture__qub {
  background-color: rgb(245 92 239);
  content: "";
  height: 10px;
  left: 50%;
  margin: -5px auto auto -5px;
  position: absolute;
  transform: rotate(-45deg);
  width: 10px;
}

.purple-capture__title {
  font-family: Poppins;
  font-size: 42px;
  color: rgb(138 165 254);
  padding-bottom: 10px;
}

@media screen and (max-width: 1080px) {
  .purple-capture__title {
    padding: 0 15px;
    font-size: calc(32px + 10 * (100vw / 1920));
  }
}
